<div class="card mb-3">
  <h3 class="card-header">
    <ng-content></ng-content>
  </h3>
  <div class="card-body">
    <h5 class="card-title">{{ question.title }}</h5>
    <h6 class="card-subtitle text-muted">單選題</h6>
  </div>

  <div class="btn-group-vertical btn-group-toggle" data-toggle="buttons">
    <ng-container *ngFor="let option of question.options">
      <label class="btn btn-secondary">
        <input
          type="radio"
          name="options"
          id="{{ option.index }}"
          autocomplete="off"
        />
        {{ option.text }}
      </label>
      <div class="mb-2"></div>
    </ng-container>
  </div>

  <div class="card-footer text-muted">
    <button type="button" class="btn btn-primary">Save changes</button>
  </div>
</div>
