<div class="container mt-3">
  <div class="d-flex justify-content-center align-itmes-center">
    <div cdkDropList class="question-list" (cdkDropListDropped)="drop($event)">
      <app-question-design-card
        *ngFor="let question of questions; let i = index"
        class="card mb-sm-3 mb-5 p-1"
        cdkDrag
        [questionData]="question"
        [(disableSendBtn)]="disableSendBtn"
        (removeQuestion)="removeQuestion($event)"
        (send)="send($event)"
      >
        Q{{ i + 1 }}
      </app-question-design-card>
    </div>
  </div>
  <div class="d-flex">
    <button
      type="button"
      class="btn btn-primary mb-3"
      (click)="addNewQuestion()"
    >
      新增題目
    </button>
    <div class="m-1"></div>
    <button
      type="button"
      class="btn btn-primary mb-3"
      (click)="saveQuestions()"
    >
      儲存
    </button>
  </div>
</div>
