<div class="d-flex mt-2 mb-2" style="width: 100%;">
  <div style="width: 100%;">
    <div
      class="question-number justify-content-between align-items-center d-flex"
    >
      <div class="pl-3">
        <ng-content></ng-content>
      </div>
      <button mat-icon-button (click)="removeQuestionClick()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="pl-3 pr-3 mt-1">
      <input
        #questionTitleRef
        class="question-title"
        placeholder="題目"
        (change)="questionTitleChange()"
      />
      <div class="bottom-line"></div>
    </div>

    <div
      class="btn-group btn-group-toggle d-flex m-3"
      questionMode
      data-toggle="buttons"
    >
      <ng-container *ngFor="let questionConfig of questionConfigs">
        <label
          class="btn btn-outline-secondary"
          [ngClass]="{ active: (mode | async) === questionConfig.id }"
        >
          <input
            type="radio"
            name="questionMode"
            id="{{ questionMode[questionConfig.id] }}"
            autocomplete="off"
            (click)="questionModeInputClick(questionConfig.id)"
          />
          {{ questionConfig.text }}
        </label>
      </ng-container>
    </div>

    <div
      class="custom-control custom-switch m-3"
      *ngIf="(mode | async) !== questionMode.Answer"
    >
      <input
        type="checkbox"
        class="custom-control-input"
        id="showOtherOption"
        (change)="switchShowOtherOption()"
        [checked]="questionData.hasOtherOption"
      />
      <label class="custom-control-label" for="showOtherOption"
        >顯示「其他」選項</label
      >
    </div>

    <ng-container *ngIf="(mode | async) !== questionMode.Answer">
      <div class="pl-3 pr-3 option">
        <ng-container *ngFor="let option of optionList; let i = index">
          <div class="d-flex justify-content-between">
            <input
              #optionInput
              class="option-input"
              placeholder="選項 {{ i + 1 }}"
              (change)="optionTitleChange($event, option.index)"
              (keyup.enter)="focusToNext(option.index)"
              [disabled]="option.type === answerType.Textinput"
              value="{{ option.text }}"
            />
            <button
              mat-icon-button
              (click)="removeOptionClick(option.index)"
              *ngIf="option.type === answerType.Predefined"
            >
              <mat-icon>close</mat-icon>
            </button>
          </div>
          <div class="mb-2 bottom-line"></div>
        </ng-container>
      </div>
    </ng-container>

    <div class="button-footer d-flex justify-content-around">
      <button
        type="button"
        class="btn btn-secondary"
        (click)="addNewOption()"
        *ngIf="(mode | async) !== questionMode.Answer"
      >
        新增選項
      </button>
      <button type="button" class="btn btn-secondary" (click)="sendToGuest()">
        送出
      </button>
    </div>
  </div>
</div>
