@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import 'theme/minty.min';

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

.base-background {
  height: 100vh;
  overflow-y: hidden;
  background-size: cover;
  background-image: url(./assets/key_vision.jpg);
  background-position: center;
}
