<div class="d-flex mt-2 mb-2" style="width: 100%">
  <div style="width: 100%;">
    <div class="question-number justify-content-center align-items-center d-flex">
      <ng-content></ng-content>
    </div>

    <div class="pl-3 pr-3 mt-1">
      <input class="question-title" placeholder="題目">
      <div class="bottom-line"></div>
    </div>

    <div class="btn-group btn-group-toggle d-flex m-3" questionMode data-toggle="buttons">
      <ng-container *ngFor="let questionMode of questionModes">
        <label class="btn btn-outline-secondary" [ngClass]="{'active': (mode | async) === questionMode.id}">
          <input type="radio" name="questionMode"
            id="{{questionMode.id}}"
            autocomplete="off"
            (click)="questionModeInputClick(questionMode.id)"> {{questionMode.text}}
        </label>
      </ng-container>
    </div>

    <ng-container hidden *ngIf="(mode | async) !== 'answer'">
      <div class="pl-3 pr-3 single">
        <ng-container *ngFor="let option of optionList;">
          <input #singleInput
            class="single-input"
            placeholder="選項 {{option.index + 1}}"
            (change)="optionTitleChange($event, option.index)"
            (keyup.enter)="focusToNext(option.index)">
          <div class="mb-2 bottom-line"></div>
        </ng-container>
        <button mat-mini-fab class="plus-button" (click)="addNewOption()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </ng-container>
  </div>
</div>
